################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
*.suo
/.vs/Blog/FileContentIndex
/assets/images/renameNoSpace.bat
/assets/images/EdgeFunctionsDiagram.xcf
/assets/images/RayPlaneIntersectionDiagram.xcf
